body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

::-webkit-scrollbar { width: 8px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track-piece { background-color: rgba(0,0,0,0.0);}
::-webkit-scrollbar-thumb { background-color: #666; border-radius: 5px;}
::-webkit-scrollbar-corner { background-color: rgba(0, 0, 0, 0.1);}
::-webkit-resizer { background-color: #666;}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.progress svg {
  width: 330px;
  height: 330px;
  transform: rotate(-90deg);
}

.progress svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: rgba(255, 255, 255, 0.1);
  stroke-width: 6;
  stroke-linecap: round;
}

.progress svg circle:last-of-type {
  stroke-dasharray: 1005px;
  stroke-dashoffset: calc(1005px - (1005px * var(--percent)) / 100);
  stroke: #2ecc71; 
}

@media screen and (max-width: 640px) {
  .progress svg {
      width: 210px;
      height: 210px;
      transform: rotate(-90deg);
  }
    
  .progress svg circle {
      width: 100%;
      height: 100%;
      fill: none;
      stroke: rgba(255, 255, 255, 0.1);
      stroke-width: 4;
      stroke-linecap: round;
  }
    
  .progress svg circle:last-of-type {
      stroke-dasharray: 628px;
      stroke-dashoffset: calc(628px - (628px * var(--percent)) / 100);
      stroke: #2ecc71; 
  }
}
